<!DOCTYPE html>
<html>
    <head>
        <title>Practical 22/3/2022</title>
    </head>

    <body>

        List Of Courses Provided By The GA Program:<br />
        <h1>Web Application Systems</h1>
        <div>
                <strong>Course convenor: Dr Xianghua (Sharon) Ding</strong>
                <br />
                <strong>Course start date: 1/2/2022</strong><br />
                <br />
                This course aims to guide students through typical web application design structures and related tools. <br/>
                It will also develop their understanding of networked and distributed systems with respect to communications and protocols involved in their design.! <br />

        </div>

        List Of Courses Provided By The GA Program:<br />
        <h1>Computer Architecture and Network Systems</h1>
        <div>
                <strong>Course convenor: (Syed) Waqar Nabi</strong>
                <br />
                <strong>Course start date: 1/2/2022</strong><br />
                <br />
                This course will be run live in physical classrooms, but if you have a good reason for not making it to the physical classroom, the live sessions will be zoomed for remote users too <br />
        </div>


        <h1>Foundations Of Professional Software Engineering</h1>
        <div>
                <strong>Course convenor: Derek Somerville</strong>
                <br />
                <strong>Course start date: 1/8/2021</strong><br />
                <br />
               
               The aim of this course is to impart a breadth of knowledge about software engineering in a professional environment. This knowledge will cover ethical issues, design lifecycles, development methodologies and security factors. It will also develop their ability to critically assess software development design decisions. Students should also develop an understanding of common software development tools and packages on a conceptual level to make their transition into the workplace more efficient. <br />
                                                                                                                                                                               
        </div>

         <h1>How to Learn a New Language</h1>
         <div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
                 <strong>Course convenor: Matthew Barr</strong>
                 <br />                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
                 <strong>Course start date: 1/8/2021</strong><br />                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
                 <br />                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   
                The aim of this course is to provide students with the skills and knowledge to pick up a new programming language. The students will also be able to develop existing programming skills in order to embed sound programming language fundamentals and techniques for structuring programs appropriately. The course also teaches the basics of writing good clean code that is easy to read and maintain. <br />
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   
         </div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    


    <br />
    <br />
    <br />
    <br />
    <strong>AND MANY MORE TO COME......</strong><br />




    </body>

</html>







































