<!DOCTYPE html>
<html>
    <head>
        <title>Practical 22/3/2022</title>
    </head>

    <body>

        List Of Courses Provided By The GA Program:<br />
        <h1>Web Application Systems</h1>
        <div>
                <strong>Course convenor: Dr Xianghua (Sharon) Ding</strong>
                <br />
                <br />
                This course aims to guide students through typical web application design structures and related tools. <br/>
                It will also develop their understanding of networked and distributed systems with respect to communications and protocols involved in their design.! <br />
            <strong>{{ boldmessage }}</strong><br />
        </div>
        <div>
            <a href="/rango/about/">About</a><br />
        </div>
    </body>

</html>
